/* DEVELOPER Bryan Madewell, IS117-003, Fall 2024 */
html, body {
    height: 100%;  
    margin: 0;   
    display: flex;
    flex-direction: column;
}

main {
    flex: 1; 
}

footer {
    background-color: black; 
    color: white; 
    text-align: center;
    padding: 1rem 0; 
    width: 100%; 
}
